.container{
    display: grid;
    grid: gap 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 200px 40px;
    padding: 20px;
}
.header{
    grid-column: 1/3;
   
}
.productsContainer{
    grid-row: 1/3;
    grid-column: 3/4;
    

}

.content{
    grid-row: 2/ span 3;
    grid-column: 1/ span 2;
    padding: 20px;
    

}
.footer{ 
    grid-column:1/3;

}
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: auto;
    width: 200vh;

}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}
.sidebar {
    height: 100vh;
    width: 20vw;
    font-family:raleway;
    background: #b4c8db;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
  }
  
.cart{
    font-family:raleway;
    background: #b4c8db;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

  }

.item {
    color: white;
    font-size: 20px;
    padding: 10px;
}
  h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    height: 280px;
    overflow: hidden;
    width: 280px;
    background: #b4c8db;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card > figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card > figure > img {
    width: 100%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 40%;
}



.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details {
    margin-bottom: 5px;
}


span.number {
    float: right;
    color: rgb(2, 2, 2);
}
main div{
        display: inline-grid;
        grid-template-columns: auto auto auto;
         padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
}
td img{
    width: 50px;
    

}
table, th, td {
    padding: 5px;
    
  }
.total{
    padding: 0;
}
